upstream frontend_nodes {
%{ for ip in split(",", frontend_ips) ~}
    server ${ip}:80;
%{ endfor ~}
}

server {
  listen 80;
  server_name example.com;
  
  location / {
    proxy_pass http://frontend_nodes;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
