<div class="container">
  <h2>Transações</h2>
  <ul>
    <li *ngFor="let transacao of transacoes">
      {{ transacao.descricao }} - R$ {{ transacao.valor }} em
      {{ transacao.data }}
      <button (click)="removerTransacao(transacao.id!)">-Remover</button>
    </li>
  </ul>

  <h3>Adicionar Transação</h3>
  <form (ngSubmit)="adicionarTransacao()">
    <input
      [(ngModel)]="descricao"
      name="descricao"
      placeholder="Descrição"
      type="text"
      class="input"
      required
    />
    <input
      [(ngModel)]="valor"
      name="valor"
      placeholder="Valor"
      class="input"
      required
    />
    <input [(ngModel)]="data" name="data" type="date" class="input" required />
    <button type="submit" class="button">Adicionar</button>
  </form>
</div>
